body {
    background-color: pink;
}

h1 {
    color: blue;
}

p {
    background-color: yellow;
    font-family: Arial;
    font-size: larger;
    color: purple;
}

h2 {
    color: purple;
}

button {
    background-color: black;
    color: white;
}

